@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(252, 109, 183, 0.5)
    ),
    url(images/img1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.133);
  border-radius: 50px;
  padding: 10px 30px;
}

.container .login .input-group {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login .input-group input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.827);
  outline: none;
  transition: 0.3s;
}

#toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url(images/show.png);
  background-size: cover;
  cursor: pointer;
}

#toggle.hide {
  background: url(images/hide.png);
  background-size: cover;
}

.container .login .input-group input:focus,
.container .login .input-group input:valid {
  border-color: #a877df;
}

.container .login .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #9f66e0;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .login .input-group .btn:hover {
  transform: translateY(-5px);
  background: #7700ff;
}

.container .form-check {
  text-align: center;
  font-weight: bolder;
  padding: 5px 0 5px 5px;
  margin-bottom: 25px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.133),
    rgba(168, 119, 223, 0.5)
  );
  border-radius: 30px;
}

.form-check .form-check-input {
  float: center;
  margin-left: -1.5em;
}
.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0.4em;
  margin-right: 0.2em;
  vertical-align: top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #7700ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check-input[type="radio"] {
  border-radius: 50%;
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:focus {
  border-color: #7700ff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 253, 0.25);
}

.form-check-input:checked {
  background-color: #7700ff;
  border-color: #7700ff;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input[type="checkbox"]:indeterminate {
  background-color: #7700ff;
  border-color: #7700ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  opacity: 0.5;
}

@media (max-width: 430px) {
  .container {
    width: 300px;
  }
}
